.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#footer {
  position: fixed;
  text-align: center;
  background-color: #444444;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
}

#footer .footer-separator {
  padding: 0 8px;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: #2b5e68;
}

.black-btn {
  border-color: var(--text-black) !important;
  text-decoration: none;
}

#footer .footer-p {
  color: white;
  font-size: small;
  padding-top: 10px;
  text-align: center;

}